* {
    font-family: serif;
}

body{ 
    background-color: white;
    display: flex;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
}

.container {
    max-width: 768px;
    max-height: 1024px;
    min-width: 375px;
    height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    height: 100vh;

    &-button  {
        width: 20rem;
        text-transform: uppercase;
    }
}

.button {
    background-color: lightgray;
    color: #000000;
    padding: 12px 0 12px;
    border-radius: 4px;
    margin: 3px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
}

.button:hover {
    background-color: #bdbdbd;
}

.form-input-new-item {
    display: flex;
    height: 1.8rem;
    justify-content: space-between;
    align-items: center;
    gap: .23rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    & input {
      padding: .4rem;
      font-size: large;
      width: 70%;
    }

    & button {
        padding-top: .4rem;
        padding-bottom: .4rem;
        font-size: large;
        width: 30%;
      }
  }

  .item-card {
    display: flex;
    height: 1.8rem;
    justify-content: space-between;
    gap: .93rem;
    align-items: center;
    padding: .43rem;
    border: 1px dashed black;
    border-radius: .6rem;
    margin-bottom: .43rem;
    
    &-pointer {
        cursor: pointer;
    }

    & p {
        font-size: larger;
        word-break: break-all;
    }

    & button {
        padding: .3rem;
        text-transform: uppercase;
        font-size: small;
    }
  }

  .secondary-color {
    background-color: lightblue;
  }

@media (min-width: 400px) {
    .menu-wrapper {
        border: solid 1px black;
    }

    .container {
        border: solid 1px black;
        border-radius: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }

}