* {
    font-family: serif;
}

body{ 
    background-color: white;
    display: flex;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
}

.container {
    max-width: calc(100vw - 2rem);
    max-height: 1024px;
    min-width: 375px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    height: 100vh;

    &-button  {
        width: 20rem;
        text-transform: uppercase;
    }
}

.button {
    background-color: lightgray;
    color: #000000;
    padding: 12px 0 12px;
    border-radius: 4px;
    margin: 3px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
}

.button:hover {
    background-color: #bdbdbd;
}

.form-input {
    display: flex;
    height: 1.8rem;
    justify-content: space-between;
    align-items: center;
    gap: .23rem;
    padding-bottom: 1rem;

    & input {
      padding: .4rem;
      font-size: large;
      width: 70%;
      border: 1px solid black;
      border-radius: .21rem;
    }

    & button {
        padding-top: .4rem;
        padding-bottom: .4rem;
        font-size: large;
        width: 30%;
      }
  }

  .item-card {
    display: flex;
    // height: 1.8rem;
    justify-content: space-between;
    gap: .93rem;
    align-items: center;
    padding: .23rem;
    border: 1px dashed black;
    border-radius: .6rem;
    margin-bottom: .43rem;
    
    &-pointer {
        cursor: pointer;
    }

    & span {
        font-size: large;
        word-break: break-all;
    }

    & button {
        padding: .3rem;
        text-transform: uppercase;
        font-size: small;
    }
  }

  .stock-opname-card {
    display: flex;
    justify-content: space-between;
    gap: .93rem;
    align-items: center;
    padding: .23rem;
    border: 1px dashed black;
    border-radius: .6rem;
    margin-bottom: .43rem;
    
    &-pointer {
        cursor: pointer;
    }

    & span {
        display: flex;
        word-break: break-all;
        margin-bottom: 0.2rem;
        align-items: center;
    }

    & button {
        padding: .3rem;
        text-transform: uppercase;
        font-size: small;
        width: 100%;
        margin-bottom: .24rem;
        font-weight: 600;
        border-radius: .33rem;
        border: 1px solid black;
        cursor: pointer;
    }

    & .total {
        font-weight: bolder;
        font-size: larger;
    }
  }

  
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    /* Style the buttons inside the tab */
    & button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: .63rem 0px .63rem;
        transition: 0.3s;
        font-size: 17px;
        width: 50%;
        text-transform: uppercase;
        color: gray;
      }
      /* Change background color of buttons on hover */
      & button:hover {
        background-color: #ddd;
      }
      /* Create an active/current tablink class */
      & button.active {
        border-bottom: 4px solid black;
        color: black;
        font-weight: 600;
    }
  }
  
  .secondary-color {
    background-color: lightblue;
  }

  .lists {
    &-folder, &-item, &-stock {
        padding-bottom: 7rem;
    }
  }

  
  .navigation {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: .50rem;
    border: 1px solid black;
    padding: .4rem 1rem .4rem 1rem;
    border-radius: .5rem;
    display: flex;
    gap: .9rem;
    background-color: white;

    & button {
        background-color: lightblue;
        padding: 5px 10px;
        border-radius: 4px;
        border: none;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        text-transform: uppercase;
    }
  }

  .danger {
    background-color: pink;
  }

  
.badge {
    background-color: cyan;
    color: black;
    padding: .43rem;
    text-align: center;
    border-radius: 1rem;
    font-size: small;
    font-weight: bolder;
  }

.button-duplicate {
  background-color: gainsboro;
  color: black;
  font-weight: 900;
  border-radius: 5px;
}

.modal-stock-opname {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: gainsboro;
  z-index: 1;
}

.form-stock-opname {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 70vh;
  gap: .5rem;
  padding: 1rem 0 1rem 0;
}

.form-stock-opname label {
  font-size: 1.5rem;
}

.modal-stock-opname input {
  width: 100%;
  height: 2rem;
  font-size: 1.2rem;
  border: 1px solid black;
}

@media (min-width: 400px) {
    .menu-wrapper {
        border: solid 1px black;
    }

    .container {
        border: solid 1px black;
        border-radius: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }

}