body{ 
    background-color: white;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    height: 100vh;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    max-width: 768px;
    max-height: 1024px;
    min-width: 375px;

    &-button  {
        width: 20rem;
    }
}

.button {
    background-color: lightgray;
    color: #000000;
    padding: 12px 24px;
    border-radius: 4px;
    margin: 3px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
}

.button:hover {
    background-color: #bdbdbd;
}

@media (min-width: 768px) {
    .menu-wrapper {
        border: solid 1px black;
    }
}