@import "variables"; // Import global variables

.button {
    color: $primary-color;
    border: 2px solid $primary-color;
    padding: 5px 15px 5px 15px;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    cursor: pointer;
    border-radius: .2rem;

    &:hover {
        background-color: darken($secondary-color, 10%);
    }
}