@import "variables";

.folder {
    list-style: none;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    margin: 8px 0 8px 0;
    padding: 5px 2px 5px 12px;
    place-items: center;
    font-weight: normal;
    cursor: pointer;
}

.folder:hover {
    background-color: $primary-color;
}